<h1><%= @user.email %></h1>
<% @user.user_cover_photo.attached? %>
  <%= image_tag @user.user_cover_photo %>
<%= else %>
  <h3>No cover photo set</h3>
<%= end %>

<% if @user.images.any? %>
  <h4>Here are your images:</h4>
  
  <% @user.images.each do |image| %>
  <ul>
    <li>
      <%= link_to  [image]%>
    </li>
  <ul>
  <% end %>
<% else %>
  <p>No images for this user.</p>
<% end %>

<p><%= link_to "Add an image", new_image_path(@image) %></p>

<p><%= link_to "Edit image", edit_image_path(@image) %></p>
<p><%= link_to "Delete image", image_path(@image), 
                                :data => {:confirm => "You sure"
                                          :method => "delete"} %></p>
<p><%= link_to "Return to images", images_path %>